/* Estilos generales para secciones */
.section {
    width: 740px;
    margin: 0 auto;
    padding-top: 11rem;
    padding-bottom: 6rem;
}

/* Estilos para los contenidos dentro de .section */
.section div, .icons {
    max-width: 36rem;
    margin: auto;
}

/* Estilos para títulos */
.section h1 {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    gap: 0.50rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

/* Estilos para párrafos */
.section p {  
    font-size: 1.2rem;
    line-height: 1.75rem;
    opacity: 0.80;
    margin: 0 auto;
    padding-bottom: 2rem;
}

/* Estilos específicos para badges */
.bdg {
    margin: 0 auto;
    padding: 0;
    font-size: 1.25rem;
}

/* Estilos para el texto con clase .ylw-900 */
.ylw-900 {
    color: rgb(254 240 138);
}

/* Estilos para los iconos */
.icons {
    display: flex; 
    padding: 0;
    gap: 1rem;
}

/* Estilos para los enlaces dentro de .icons */
.icons a {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    text-decoration: none;
    border: 1px solid rgb(30 41 59);
    background: rgb(15 23 42);
    padding: 0.5rem 0.8rem;
    color: white;
    font-size: 0.85em;
}

/* Estilos para los iconos dentro de .icons */
.icon {
    font-size: 2em;
    padding-right: 8px;
}

/* Estilos de hover para los enlaces dentro de .icons */
.icons a:hover {
    transform: scale(1.1);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgb(30 41 59);
}
