.section {
    width: 540px;
    margin: 0 auto;
    padding-top: 11rem;
    padding-bottom: 11rem;
}

.section h1 {
    margin: auto;  
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    padding-bottom: 1rem;
    align-items: center;
}

.section h2 {
    display: flex;
    margin: auto;    
    font-size: 1.05rem;
    line-height: 1.75rem;
    font-weight: normal;
}

