.section {
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.section div, .icons {
    margin: auto;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}

.section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.exp {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
    max-width: 36rem;
}

.bdg {
    padding-left: 20px;
    font-size: 1.1rem;
}

.ylw-900 {
    --tw-text-opacity: 1;
    color: rgb(254 241 139 / var(--tw-text-opacity));
}

.icons {
    display: flex; 
    padding: 0;
    gap: 1.5rem;
}

.span-icon {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid rgb(30 41 59);
    background: rgb(15 23 42);
    padding: 0.3rem 1.5rem;
    font-size: 0.9em;
}

.span-icon a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.icon {
    font-size: 1.6em;
    padding-right: 5px;
}

.span-icon:hover {
    background: rgb(31 41 55);
}

.span-icon {
    display: flex;
    align-items: center;
}