:root {
    --rounded: 1em;
    --white: #fff;
    --tw-border-opacity: 1;
    --border-color: rgb(75 85 99 / var(--tw-border-opacity));
    --background-color: rgb(31 41 55 / var(--tw-text-opacity));
    --tw-text-opacity: 1;
    --ylw-hover: rgb(234 179 8 / var(--tw-text-opacity));
    --ylw: rgb(254 240 138 / var(--tw-text-opacity));
}

.section-cont {
    padding-top: 7.8rem;
    padding-bottom: 6rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title h3 {
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #848487;
}

.project-icon {
    font-size: 2em;
}

article {
    display: flex;
    gap: 1.8rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
}

article > div > img {
    width: 30vw;
    border-radius: var(--rounded);
    border: 1px solid var(--border-color);
}

article > div {
    display: flex;
    flex-direction: column;
}

article div h3 {
    margin: 0;
    font-size: 1.5em;
    padding-bottom: .5rem;
    font-weight: 600;
}

article div p {
    opacity: .8;
    text-wrap: pretty;
}

.tag-container {
    gap: 1rem;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-container li {
    opacity: .95;
}

.links {
    display: flex;
    gap: 1rem;
}

.p-links {
    color: var(--white);
    text-decoration: none;
    font-size: .95em;
    padding: 10px 13px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    border-radius: 12px;
    display: flex;
    gap: .5em;
    align-items: center;
}

.p-links:hover {
    transition: all .2s ease-in-out;
    background: var(--background-color);
    border-color: var(--background-color);
}

.vermas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vermas a {
    text-decoration: none;
    color: var(--ylw);
    font-size: 1.2em;
}

.vermas a:hover {
    color: var(--ylw-hover);
    text-decoration: underline;
}

@media (max-width: 767px) {
    .section-cont {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    .section-cont {
        position: static;
    }
    article {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.8rem;
    }
    article div p {
        margin: auto;
        padding: 15px 0;
    }
    article > div > img {
        width: 90vw;
    }
    
}