.projects {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.projects span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 2rem;
}

.projects span h2 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
    font-size: 1.7em;
}

.icon2 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 1em;
}

.projects span h2, .icon2, .type h3 {
    margin: 0;
}

.cont-project {
    height: 16.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-bottom: 30px;
}

.cont-project img {
    width: 50%;
    border-radius: 1em;
}

.type {
    display: flex;
    flex-direction: column;
}

.type ul {
    display: flex;
    list-style: none;
    padding: 15px 0;
    gap: 1rem;
}

.type ul li {
    display: flex;
    align-items: center;
    gap: .2rem;
    background: #0d0d0d;
    border-radius: .5rem;
    padding: 5px 10px;
    font-size: .85em;
}

.react-icon {
    color: rgba(0, 133, 199, 1);
}

.css-icon {
    color: #2565f2;
}

.js-icon {
    color: yellow;
}

.react-icon, .css-icon, .js-icon {
    padding-right: 3px;
}

