.projects {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projects span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 2rem;
}

.projects span h2 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
    font-size: 1.7em;
}

.icon2 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 1em;
}

.projects span h2, .icon2 {
    margin: 0;
}

.cont-project {
    height: 16.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.cont-project img {
    width: 40%;
    padding: 10px;
    border-radius: 1em;
}

.type {
    display: flex;
    flex-direction: column;
}

.type ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.type ul li {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.react-icon {
    color: rgba(0, 133, 199, 1);
}

.css-icon {

}

