.projects {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
}

.projects span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 1rem;
}

.projects span h2 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}

.icon2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

