.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 1.1em;
}

.main span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 1rem;
}

.content-2 {
    padding-top: 1.5rem;
}

.icon3 {
    font-size: 2rem; /* Cambiado de 2em */
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; /* Añadida la unidad de medida */
}
