.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.main span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 2rem;
    width: 70%;
    line-height: 1.4em;
    text-wrap: pretty;
}

.about h3 {
    font-size: 1.8em;
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #848487;
} 

.content-1{
    text-indent: 1em;
    text-wrap: pretty;
    font-size: 1.15em;
    line-height: 1.7;
}

.icon3 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.about-icon {
    font-size: 2em;
}

.icon3 {
    margin: 0;
}

.about {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    gap: 1rem;
    text-wrap: pretty;
}

