.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.main span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-bottom: 2rem;
    width: 70%;
    line-height: 1.4em;
    text-wrap: pretty;
}

.content-1, .content-2 {
    text-indent: 1em;
    text-wrap: pretty;
    font-size: 1.05em;
}

.icon3 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.about-h2 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
    font-size: 1.7em;
}

.about-h2, .icon3 {
    margin: 0;
}

