.footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .8;
    flex-direction: row;
}

.footer-span {
    display: flex;
    gap: 1.5rem;
}

.footer-link, .footer > div > span > a {
    text-decoration: none;
    color: #fff;
}

.footer-link:hover, div > span > a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer div {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }
    .footer-span {
        width: 100%;
    }
}
