.footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .6;
}

.footer > div a {
    text-decoration: none;
    color: #fff;
}

.footer-ul li {
    list-style: none;
}

