.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    border-radius: 5px;
    width: 70%;
    backdrop-filter: blur(20px);
    background: rgba(180, 180, 180, 0.1);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 8px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 10px 0;
    align-items: center;
    margin: 0;
    font-size: .95em;
    opacity: .8;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li:hover {
    text-decoration: underline;
}

.navbar span a, .navbar span h2 {
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.navbar span h2 {
    font-size: 1.3em;
}

.light-dark {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
}

.sticky {
    background: gray;
}

@media (max-width: 767px) {

    .navbar {
        position: fixed;
        backdrop-filter: blur(10px);
        border-radius: 555px;
        width: 400px;
        margin: auto;
        height: 40px;
        margin-top: 5px;
        background: rgba(180, 180, 180, 0.5);
        padding: 0;
    } 

    .navbar ul {
        display: flex;
        align-items: center;
        font-size: .9em;
        gap: 1.5rem;
        margin: auto;
    }

    .navbar span{
        visibility: hidden;
        width: 0;

    }
}

