.navBar > button > span {
    font-size: 1.7em;
}

.buttons button {
    text-decoration: none;
    background-color: transparent;
    font-size: 1.1em;
}

.buttons button, .navBar a {
    color: white;
    text-decoration: none;
}

.navBar a:hover {
    opacity: 1;
    color: rgb(254 241 100);
    text-decoration: underline;
    transition: all .200ms ease-in;
}

.navBar {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 200px;
    padding-right: 200px;
    position: fixed;
    background: transparent;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.navBar nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    opacity: 0.85;
}


