:root {
    margin: auto;
    --white-color: #fff;
    --red-color: #fd7b7e;
    --border: 2px solid white;
    --bordered: 1px solid rgb(155, 155, 155);
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
    --yl-900: rgb(254 240 138 / var(--tw-text-opacity));
    --border-color: rgb(75 85 99 / var(--tw-border-opacity));
    --background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.presentation {
    padding-top: 10rem;
    box-sizing: border-box;
}

.b-title {
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-bottom: 10px;
}

.b-title h1 {
    font-size: 3.4em;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.exp {
    font-size: 1.3em;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
    width: 40rem;
    margin: 0;
}

.bdg {
    color: var(--white-color);
    display: flex;
    font-size: .8em;
    text-decoration: none;
    align-items: center;
    height: 20%;
    background: #3278c6;
    border: 1px solid var(--border-color);
    border-radius: 5rem;
    text-align: center;
    padding: 2px 15px;
    opacity: .9;
}

.bdg:hover {
    transform: scale(1.1);
    transition: all 300ms ease;
}

.ylw-900 {
    --tw-text-opacity: 1;
    color: var(--yl-900);
    font-weight: 600;
}

.red-color{
    color: var(--red-color);
    font-weight: 600;
}

.icons {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    font-size: 1em;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: var(--bordered);
    border-radius: 9999px;
    color: white;
    gap: .4em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.icon {
    font-size: 1.1em;
}

@media (max-width: 480px) {
    .presentation {
        padding-top: 8rem;
    }
    .b-title {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .b-title h1 {
        font-size: 2.5em;
        width: 100%;
        order: 2;
    }
    .b-title a {
        font-size: 1em;
        padding: 5px 20px;
        background-color: transparent;
        order: 1;
    }
    .b-title a:hover {
        background-color: #3278c6;
    }
    .exp {
        width: 100%;
    }
}

