:root {
    margin: auto;
    --white-color: #fff;
    --red-color: #fd7b7e;
    --border: 2px solid white;
    --bordered: 1px solid rgb(155, 155, 155);
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
    --yl-900: rgb(254 240 138 / var(--tw-text-opacity));
    --border-color: rgb(75 85 99 / var(--tw-border-opacity));
    --background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.presentation {
    padding-top: 11rem;
    box-sizing: border-box;
}

.b-title {
    padding-left: 0;
    padding-right: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.icons {
    margin: auto;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}

.b-title h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.exp {
    font-size: 1.25em;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
    max-width: 40rem;
    text-wrap: pretty;
}

.bdg {
    color: var(--white-color);
    display: flex;
    font-size: .8em;
    margin: 0;
    font-weight: 550;
    text-decoration: none;
    align-items: center;
    height: 20px;
    background: #3278c6;
    border-radius: 5rem;
    text-align: center;
    padding: 11px 15px;
    border: var(--border);
    border-color: var(--border-color);
    opacity: .9;
}

.bdg:hover {
    transform: scale(1.1);
    transition: all 300ms ease;
}

.ylw-900 {
    --tw-text-opacity: 1;
    color: var(--yl-900);
}

.red-color{
    color: var(--red-color);
}

.icons {
    display: flex;
    gap: 1rem;
    font-size: .95em;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: var(--bordered);
    border-radius: 9999px;
    color: white;
    gap: .4em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--background-color);
    border-color: var(--border-color);
}


