:root {
    margin: auto;
    --white-color: #fff;
    --red-color: #fd7b7e;
    --bordered: 1px solid rgb(155, 155, 155);
    --tw-text-opacity: 1;
    --ylw: rgb(234 179 8 / var(--tw-text-opacity));
    --border-color: rgb(75 85 99 / var(--tw-text-opacity));
    --background-color: rgb(31 41 55 / var(--tw-text-opacity));
}

.presentation {
    padding-top: 10rem;
    box-sizing: border-box;
}

.description-container {
    width: 80%;
    padding-top: 20px;
}

.b-title {
    height: 100px;
    display: block;
    flex-flow: column nowrap;
    gap: 2.8rem;
    align-items: center;
    padding-bottom: 15px;
}

.b-title h1 {
    font-size: 4vw;
    line-height: 1rem;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

.description {
    font-size: 1.3em;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
    margin: 0;
    width: 100%;
}

.b-title span a {
    color: #fff;
    padding: 3px 15px;
    border-radius: 5555px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    font-size: .85em;
    transition: all .3s ease-in-out;
}

.b-title span a:hover {
    text-decoration: none;
    background-color: #3278c6;
}

.ylw-900 {
    --tw-text-opacity: 1;
    color: var(--ylw);
    font-weight: 600;
}

.red-color{
    color: var(--red-color);
    font-weight: 600;
}

.icons {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    font-size: 1em;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: var(--bordered);
    border-radius: 9999px;
    color: white;
    gap: .4rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.icon {
    font-size: 1.1em;
}

@media (max-width: 767px) {
    .presentation {
        padding-top: 8rem;
    }
    .b-title {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }
    .b-title span {
        width: 100%;
    }
    .b-title h1 {
        font-size: 2.5em;
        width: 100%;
    }
    .b-title a {
        font-size: .9em;
        padding: 5px 20px;
        background-color: transparent;
    }
    .b-title a:hover {
        background-color: #3278c6;
    }
    .description-container {
        width: 100%;
        padding-top: 10px;
    }
    .description {
        width: 100%;
    }
}

