.section {
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.section div {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    height: 100px;
}

.icons {
    margin: auto;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}

.bTitle h1 {
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bTitle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.exp {
    font-size: 1.25em;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
    max-width: 40rem;
    text-wrap: pretty;
}

.bdg {
    display: flex;
    align-items: center;
    font-size: .8em;
    margin: 0;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    height: 23px;
    background: transparent;
    border-radius: 5rem;
    text-align: center;
    padding: 0px 15px;
    border: 1px solid gray;
}

.ylw-900 {
    --tw-text-opacity: 1;
    color: rgb(254 240 138 / var(--tw-text-opacity));
}

.red-color{
    color: #fd7b7e;
}

.icons {
    display: flex;
    gap: 1rem;
    font-size: .95em;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 9999px;
    color: white;
    gap: .4em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#text-to-copy {
    cursor: pointer;
}
