body {
  height: 100vh;
  color: white;
  font-family: 'Onest Variable', sans-serif;					
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }