body {
  background: radial-gradient(125% 125% at 50% 80%, black 60%, purple 100%);
  height: 100vh;
  color: white!important;
  font-family: 'Onest Variable', sans-serif;			
  scroll-behavior: smooth;		
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }