#root {
  scroll-behavior: smooth;
  background: rgb(2,6,26);
  background: linear-gradient(356deg, rgba(2,6,26,1) 41%, rgba(30,20,57,1) 100%);
  font-family: 'Onest Variable', sans-serif;
  color: white;
}

body {
  margin: 0;
}
  
.contenedor {
  width: 50rem;
  margin: auto;
}

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }

