html {
  background: rgba(3, 5, 11, 1.0);
  background: linear-gradient(0deg, rgba(3, 5, 11, 1.0), rgb(17, 17, 39));
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Onest Variable', sans-serif;
  color: white;
  height: auto;
}

  :root,
  html,
  body {
    color-scheme: light dark;
  }

body {
  margin: 0 auto;
  background: rgba(3, 5, 11, 1.0);
  background: linear-gradient(0deg, rgba(3, 5, 11, 1.0), rgb(17, 17, 39));
  width: 70vw;
}



@media (max-width: 767px) {
  html {
    color: #fff;
  }
  body {
    width: 90%;
    box-sizing: border-box;
  }
}


