* {
  box-sizing: border-box;
} 

html {
  max-width: 1280px; 
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: 'Onest Variable', sans-serif;
  color: white;
  background: black;
}

body {
  margin: auto;
  width: 880px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduce-motion) {
  html {
    scroll-behavior: auto;
  }
}

